.search-container {
    max-width: 600px;
    width:100%;
    position : absolute;
    top : 10%;
    left : 30%;
    padding: 1rem;
    background: #000000;
    background: linear-gradient(135deg, #ff4929 0%, #ffd54d 100%);
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.82);
  }
  .title{
    color : rgb(36, 2, 25);
    display: block;
    
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
    position : relative;
    left : 13%;
  }
  .search-label {
    display: block;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
  }
  
  .search-select {
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
  }
  
  .search-button {
    padding: 0.5rem 1rem;
    background: linear-gradient(135deg, #007bff 0%, #00c6ff 100%);
    color: #fff;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .search-button:hover {
    transform: scale(1.05);
  }
  
  .search-results {
    margin-top: 2rem;
    list-style: none;
    padding: 0;
  }
  
  .search-item {
    border: 1px solid #1b1a1a;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  }
  
  .search-item-username {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #1b1a1a;
  }
  
  .search-item-details {
    margin-bottom: 0.5rem;
    color: #1b1a1a;
  }
  
  .search-item-avail {
    font-style: italic;
    color: #1b1a1a;
  }